@media screen { 
  
  /* start of screen rules. */ 
  
  /* Generic pane rules */
  body, html { margin: 0;  padding: 0; overflow: hidden;}

  .row, .col { overflow: hidden; position: absolute; }
  .row { left: 0; right: 0; }
  .col { top: 0; bottom: 0; }
  .scroll-x { overflow-x: auto; }
  .scroll-y { overflow-y: auto; }

  .header.row { height: 75px; top: 0; }
  .body.row { top: 75px; bottom: 50px; }
  .footer.row { height: 50px; bottom: 0; }
  
  /* end of screen rules. */ 
}
/* Navbar container */
.navbar {

  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a , .navlist{

  float: left;
  font-size: 16px;
  color: white;
  text-align: left;
  padding: 1vh 14vh;
  text-decoration: none;
  
}

.nav-logo{
  
  border-radius: 100px;
  max-width: 50%;
  height: auto;
}
/* The dropdown container */
.dropdown {

  float: left;
  overflow: hidden;
}
/* Dropdown button */
.dropdown .dropbtn {
  cursor: pointer;
  float: left;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 10px 100px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn,.dropbtn:focus, .hamburger-icon:hover{
  background-color: rgb(10, 101, 30);

}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute; /*constraint that cuts off menu and needs repositioning*/
  background-color: #949494;
  min-width: 270px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  translate: 0px 50px;
}
/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover{
  background-color: #a5a5a5;
}
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.show {
  display: block;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.solid-white-line{
  width: 20px;
  height: 3px;
  background-color: white;
  margin-bottom: 4px;
}

.hamburger-icon{
  display:none;
}


/*paralaz scrolling banner image*/
.parallax {

  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 1000px;
  perspective: 1px;
  display: flex;
  flex-flow: column;
  height: 93.4vh;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5vh 0;
}
.parallax__layer--base {
  transform: translateZ(0);
  /*this will be the coantiner class for the rest of the home page proper*/
  display: flex;
  flex-direction: column;
  padding-left: 5vw;
  padding-right: 5vw;
}
.parallax__layer--back {
  background-image:URL("backgroundgrid.png");
  background-repeat: no-repeat, repeat;
  filter: blur(8px);
  background-position: 90% 60%, center center;
  padding-top: 90px;
  padding-bottom: 1010px;
  transform: translateZ(-1px) scale(3);
}

.ForegroundTitle{
  font-size: 14vh;
  font-family: Arial;
  color: white;
  width:87%;
  display: flex;
  flex-direction: row;
  
  align-self: center;


}
.ForegroundTitle-desc{
  font-size: 3vh;
  color: whitesmoke;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-family: Helvetica;
  padding-top: 79px;
}
.ForegroundProfilePic{
  align-self: center;
  padding-left: 300px;
}
.pfp{
  border-radius: 100%;
  scale: 160%;
}

.appetizers{
  display: flex;
  flex-direction: row;
  gap: 1vh 5vw;
  justify-content: space-between;
  align-items: center;
  padding-top: 280px;
  
}

.boxsample
{  
  background-color: mediumseagreen;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 25vw;
  border-radius: 15%;
  cursor: pointer;
  opacity: 1;
}

.boximage{
  background: darkred;
  width: 25px;
  padding: 32%;

}

.apcptitle{
  justify-content: center;
  display: flex;
 
}
 .apcp{
  border-top-left-radius:  15%;
  border-top-right-radius: 15%;
  opacity: 1;
  
}




.footer{
  background-color: rgb(3, 36, 10);
  padding-top: 0vh;
  position: absolute;
  bottom: -97.7vh;
  height: 2.5rem;
  width: 100%;
  overflow: hidden;

}
.footer-col {
  width:auto;

  height:100px;
  float:left;
  margin:0 10px;
}

/*flex box nav bar*/
@media all and (max-width: 600px) {
  .navbar, .navbar a, .navlist{  

    display: flex;
    flex-direction: column;
    align-items: center;
    float: inherit;
    justify-content: center;

  }
  .dropdown{
    float: initial;
    
  }
  .dropbtn{
    align-items: center;
    
  }
  .dropdown-content {
    position: inherit;
    min-width: auto;
    translate: none;
    
  }
  .hamburger-icon{
    display:block;
    position: absolute;
    right:15px;
    top:15px;
  }

  .navbar_toggleshow
  {
    display: block;
  }

  .hamburger-icon {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
   } 
  .active{
    display: block;
  }
}
